.bxmaker-authuserphone-input:hover .bxmaker-authuserphone-input__field, .bxmaker-authuserphone-input--focus .bxmaker-authuserphone-input__field, .bxmaker-authuserphone-input--hover .bxmaker-authuserphone-input__field {
	border-color: #ad2323;
}
.bxmaker-authuserphone-input-location:hover .bxmaker-authuserphone-input-location__field, .bxmaker-authuserphone-input-location--focus .bxmaker-authuserphone-input-location__field, .bxmaker-authuserphone-input-location--hover .bxmaker-authuserphone-input-location__field {
	border-color: #ad2323;
}
.bxmaker-authuserphone-input-phone:hover .bxmaker-authuserphone-input-phone__field, .bxmaker-authuserphone-input-phone--focus .bxmaker-authuserphone-input-phone__field, .bxmaker-authuserphone-input-phone--hover .bxmaker-authuserphone-input-phone__field {
	border-color: #ad2323;
}
.bxmaker-authuserphone-button__inner {
	background-color: #ad2323;
}
.bxmaker-authuserphone-button:hover .bxmaker-authuserphone-button__inner {
	background-color: #8a1c1c;
}

a.bxmaker-authuserphone-link, a.bxmaker-authuserphone-link:visited {
    color: #000000;
}
a.bxmaker-authuserphone-link:hover, a.bxmaker-authuserphone-link:active {
    color: #ad2323;
}
@media (prefers-color-scheme: dark) {
	.bxmaker-authuserphone-enter-smscode__phone {
    	color: #bb1b1b;
	}
	.bxmaker-authuserphone-enter-smscode__notice{
		color: white;
	}
	.bxmaker-authuserphone-header{
		color: white;
	}
	.bxmaker-authuserphone-enter {
		background-color: #1b1b1b;
	}

    .bxmaker-authuserphone-input input[type=otp], .bxmaker-authuserphone-input input[type=phone], .bxmaker-authuserphone-input input[type=password], .bxmaker-authuserphone-input input[type=text], .bxmaker-authuserphone-input input[type=tel], .bxmaker-authuserphone-input input[type=email], .bxmaker-authuserphone-input-location input[type=text], .bxmaker-authuserphone-input-phone input[type=text], .bxmaker-authuserphone-input-phone__field {
        background-color: #1b1b1b;
		color: white;
    }

    .bxmaker-authuserphone-input__title, .bxmaker-authuserphone-input-phone__title, .bxmaker-authuserphone-enter-auth__title, .bxmaker-authuserphone-enter-reg__title, .bxmaker-authuserphone-input-location__title, .bxmaker-authuserphone-input-phone--flag.bxmaker-authuserphone-input-phone input[type=text] {
        color: white;
    }

	a.bxmaker-authuserphone-link, a.bxmaker-authuserphone-link:visited {
    color: white;
	}
	a.bxmaker-authuserphone-link:hover, a.bxmaker-authuserphone-link:active {
		color: #ad2323;
	}
	.bxmaker-authuserphone-input__field {
		background-color: #1b1b1b;
	}
	div.bxmaker-authuserphone-input.bxmaker-authuserphone-input--custom-select > div > select {
		color: white;
    	background-color: #1b1b1b;
	}
}

div.bxmaker-authuserphone-input.bxmaker-authuserphone-input--custom-select {
	height: 53.2px;
}

div.bxmaker-authuserphone-input.bxmaker-authuserphone-input--custom-select > div > select {
	width: 100%;
}

#bxmaker-authuserphone-enter__uB8qD7 {
	width: 100%;
    min-width: 336px;
}

@media(min-width: 630px) {
	.container > .row > .maxwidth-theme > .content-md {
		display: block;
	}
	div.container div.right_block.narrow_Y {
    	width: 100%;
    	min-width: 0;
	}
    #bxmaker-authuserphone-enter__uB8qD7 {
    	display: block;
        max-width: 512px;
		margin-left: auto;
	    margin-right: auto;
    }
}